.text1{
    color: white;
    text-align: center;
    font-size: 5rem;
    margin-top: 50px;
    background-color: rgba(19, 19, 19, 0.8);
}
.tech{
    width: 100%;
    padding: 6rem 1rem;
    background-color: rgba(19, 19, 19, 0.8);
}
.container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
}
.img{
    text-align: center;
    padding: 1rem;
}
.bar1{
    border-bottom: 1px solid #eee;
    width: 50%;
    margin: 1.5rem auto;
    display: block;
}

@media screen and (max-width: 730px) {
    .container{
        max-width: 90%;
        margin: auto;
        grid-template-columns: repeat(3fr);
    }
    
}